h1.ejemplo{
    text-align: center;
    color: crimson;
}

div.centro{
    width: 50%;
    border: 3px solid black;
    margin: auto;

}
body{
    background-color: aquamarine;
}

.salamandra {
    position: absolute;
    top: auto;
    bottom: 920px;
    left: 1450px;
    width: 640px;
    height: 640px;
}
.texto {
    text-align: center;
}